:root {
    --color-black: #000;
    --color-white: #fff;


    --color-primary: #009f7f;
    --color-primary-dark: rgb(0,143,114);
    --title-text-color : rgb(31,41,55);
    --title-text-color-dark : rgb(31,41,55);


    --color-grey-1: #fafafa;
    --color-grey-2: #f3f4f6;
    --color-grey-3: rgb(229,231,235);
    --popup-overlay-color :  31,41,55;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-light: 0 2rem 5rem rgba(0,0,0,.09);
    --shadow-light-2: 0 2rem 5rem rgba(0,0,0,.2);

    //--gradient-color: linear-gradient(to right bottom ,var(--color-primary-dark), var(--color-primary));

    ////
    --color-accent: 0,159,127;
    --color-accent-hover: 1,147,118;
    --color-accent-300: 153,217,204;
    --color-accent-400: 77,188,165;
    --color-accent-500: 0,159,127;
    --color-accent-600: 0,143,114;
    --color-accent-700: 0,119,95;
    --color-light: 255,255,255;
    --color-dark: 0,0,0;
    --color-muted-black: 17,17,17;
    --text-base: 107,114,128;
    --text-base-dark: 75,85,99;
    --text-muted: 156,163,175;
    --text-muted-light: 209,213,219;
    --text-sub-heading: 55,65,81;
    --text-heading: 31,41,55;
    --text-bolder: 31,41,55;
    --color-border-50: 249,250,251;
    --color-border-100: 243,244,246;
    --color-border-200: 229,231,235;
    --color-border-base: 209,213,219;
    --color-border-400: 156,163,175;
    --color-gray-50: 249,250,251;
    --color-gray-100: 243,244,246;
    --color-gray-200: 229,231,235;
    --color-gray-300: 209,213,219;
    --color-gray-400: 156,163,175;
    --color-gray-500: 107,114,128;
    --color-gray-600: 75,85,99;
    --color-gray-700: 55,65,81;
    --color-gray-800: 31,41,55;
    --color-gray-900: 31,41,55;
}

$bp-largest: 80em;     // 1200px
$bp-large-1: 68.75em;    // 1100px
$bp-large: 64.06em;    // 1025px
$bp-medium: 56.25em;   // 900px
$bp-medium-1: 51.2em;   // 768px
$bp-medium-2: 45.625em;   //    730px
$bp-small-1: 43.75em;     // 700px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        //font-size: 50%;
    }
}

body {
    background-color: var(--color-grey-1);
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: var(--color-black) ;
}

