:root {
    --color-black: #000;
    --color-white: #fff;


    --color-primary: #009f7f;

    --color-grey-1: #fafafa;
    --color-grey-2: #f3f4f6;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-light: 0 2rem 5rem rgba(0,0,0,.09);

    //--gradient-color: linear-gradient(to right bottom ,var(--color-primary-dark), var(--color-primary));

}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-medium-2: 45.625em;   //    730px
$bp-small-1: 43.75em;     // 700px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 40%;
    }
}

body {
    background-color: var(--color-grey-1);
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: var(--color-black) ;
}
