.shop-container {
  height: 100vh;
  display: flex;

  //justify-content: space-around;
  //  background: yellow;
  & .side-menu {
    flex: 0 0 22%;
    background: white;

    @media only screen and (max-width: $bp-large) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 300px;
      height: 100vh;
      transform: translate(-100%, 0);
      transition: .3s;
      overflow: auto;

      &.active {
        transform: translate(0, 0);
      }
    }

    .brand-side-menu {
      width: 100%;
      padding: 3rem 2rem;
      display: none;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px var(--color-grey-3) solid;

      @media only screen and (max-width: $bp-large) {
        display: flex;
      }

      & img {
        width: 100px;
      }

      & span {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--color-grey-3);
        font-size: 1.4rem;
        text-align: center;
        line-height: 30px;
      }
    }


    .pro-sidebar {
      width: 100% !important;
      padding: 2rem 0;
    }

    .pro-sidebar>.pro-sidebar-inner {
      background: transparent !important;
    }

    .pro-item-content {
      color: var(--color-grey-dark-2);
      font-size: 1.4rem !important;

    }

    .pro-sidebar .pro-menu.shaped .pro-menu-item>.pro-inner-item>.pro-icon-wrapper {
      background: transparent !important;
    }

    .pro-sidebar .pro-menu>ul>.pro-sub-menu>.pro-inner-list-item {
      background: transparent !important;
    }

    .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
      padding-left: 4.9rem !important;
    }

    .pro-icon {
      & svg {
        height: 2.5rem !important;
        fill: var(--color-grey-dark-2) !important;
      }
    }

    .pro-sidebar .pro-menu .pro-menu-item>.pro-inner-item {
      color: var(--color-grey-dark-2) !important;
    }
  }

  & .products-grid {
    flex: 0 0 calc(78% - 6rem);
    margin: 3rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}