

.update-password{
    width: 100%;

    &>div {
        width: 100%;
        background-color: var(--color-white);
        border-radius: 6px;
        box-shadow: var(--shadow-light);
        padding: 3rem;
    }

    & .email-verification-block {
        min-height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            align-self: flex-start;
            display: inline-block;
            font-size: 2rem;
            font-weight: 700;
            color: var(--title-text-color);
            margin-bottom: 2rem;
        }

        .description {
            color: var(--color-grey-dark-2);
            font-size: 1.5rem;
            font-weight: 400;

            &:not(:last-child){
                margin-bottom: 4rem;
            }
        }
        .description-info {
            color: var(--color-primary);
            font-weight: 700;
            font-size: 1.3rem;
        }



    }

& .form-ct{
        width: 100%;

        & form{
            width: 100%;

            & p{
                font-size: 18px;
                color: var(--color-grey-dark-1);
                font-weight: 500;
                text-align: left;
                padding: 0 0 16px;
            }

            & .submit-ct{
                width: 100%;
                text-align: right;
                margin: 8px 0 0;

                & input{
                    padding: 12px 8px;
                    background-color: var(--color-primary);
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    color: var(--color-white);
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
}



//email password
.email-verification-block {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        color: var(--title-text-color);
        margin-bottom: 2rem;
    }

    .description {
        color: var(--color-grey-dark-2);
        font-size: 1.5rem;
        font-weight: 400;

        &:not(:last-child){
            margin-bottom: 4rem;
        }
    }
    .description-info {
        color: var(--color-primary);
        font-weight: 700;
    }


}

.button-block {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 4rem;


    button {
        padding: 1rem 1.2rem;
        background: white;
        color: var(--color-primary);
        border-radius: .3rem;
        font-size: 1.6rem;
        align-self: center;
        width: fit-content;
        cursor: pointer;
        transition: hover 5s ;
        border: solid 1px var(--color-primary);

        &:hover {
            background: var(--color-primary);

            color: white;
        }

        &:active{
            background: var(--color-primary-dark);
        }
    }
    .dn-button {
        color: #fe7096;
        border: solid 1px #fe7096;
        &:hover {
            background: #fe7096;
            color: white;
        }

        &:active{
            background: #fe7096;
        }
    }
}