.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .title {
    display: flex;
    align-items: center;
    .nbr {
      height: 2.5rem;
      width:2.5rem;
      background: var(--color-primary);
      border-radius: 100%;
      color: white;
      font-size: 1.8rem;
      text-align: center;
      line-height: 2rem;
      margin-right: 1rem;
    }

    .text {
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;
      color: var(--title-text-color);
    }
  }

  & .button {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: 600;

    & i {
      margin-right: .3rem;
    }
  }
}


.cart-content {

  display: flex;
  flex-direction: column;




  .address {
    margin: 2rem;
    padding: 1.5rem;
    width: 35rem;
    min-height: 10rem;
    background-color: rgba(var(--color-gray-200),1);
    border-radius: .5rem;

    p {
      color: rgba(var(--text-sub-heading),var(--tw-text-opacity));
      font-size: 1.2rem;
    }


  }

  .address-active {
    border: 1px solid var(--color-primary);
    background-color:white;
  }

  .deliver-agency {
    margin: 2rem;
    padding: 2rem 1rem;
    width: 20rem;
    height: fit-content;
    border-radius: 1rem;
    background-color: rgba(var(--color-gray-200),1);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;



    .ui.button, .ui.buttons .button, .ui.buttons .or {
      font-size: 1.4rem;
    }

    .ui.labeled.button:not([class*="left labeled"])>.button {
      background: rgba(var(--color-gray-200),1);
    }

    i {
      color: var(--color-primary);
    }




      h3 {
      text-transform: uppercase;
      color: rgba(var(--text-heading),1);
      font-size: 1.4rem;
      margin-bottom: 1rem;


    }
    & .price {

      font-size: 1.8rem;
      font-family: sans-serif;
      //background-color: rgba(var(--color-gray-200),1);
      padding: .5rem;
      border-radius: 1rem;
      margin-top: 1rem;
      color:rgba(var(--color-gray-500),1) ;
    }
    img {
      height: 4.5rem;
    margin-bottom: 1rem;

    }
  }


  .active {
    background-color: white;
    border: 1px solid var(--color-primary);
  }



  .order-details {
    align-self: center;
    margin: 2rem;
    min-height: 25rem;
    width: 50rem;
    padding: 1.5rem 3rem;
    background-color: rgba(var(--color-gray-100),1);
    border-radius: 1rem;


    .order-info {
      display: flex;
      justify-content: space-between;
      color: rgba(var(--text-base),1);
      font-weight: 500;
      font-size: 1.5rem;

      & .attribute {
        flex: 50%;
        text-align: left;
        & span {
          margin-right: 1rem;
        }


      }
      &:last-child {
        margin-bottom: 2rem;
      }

      & .total {
        color: rgba(var(--text-heading),1);
        font-weight: 700;
        font-family: sans-serif;

      }
      & .qnt {
        color: rgba(var(--text-heading),1);
        font-family: sans-serif;
      }
    }

    h3 {
      color: rgba(var(--text-heading),var(--tw-text-opacity));
      font-weight: 700;
      text-transform: capitalize;
      font-size: 1.8rem;
      margin-top: 2rem;
      margin-bottom: 3rem;
      text-align: center;
    }
  }


}
.deliveryType {
  align-items: center;
  margin-top: 3rem;
  display: flex;
  justify-content: center;

  .ui.slider.checkbox .box, .ui.slider.checkbox label {
    font-size: 2rem;
  }
  .checkBox {
    margin: 2rem 3rem;

    .ui.slider.checkbox input:checked~.box:before, .ui.slider.checkbox input:checked~label:before {
      background-color: var(--color-primary) !important;
    }
    .ui.slider.checkbox input:checked~.box, .ui.slider.checkbox input:checked~label {
      color: var(--color-primary) !important;
    }

    label {
      color: rgba(0,0,0,.4) !important;

    }

    .ui.slider.checkbox input:checked~.box:after, .ui.slider.checkbox input:checked~label:after {
      left: 2rem;
    }
    .ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
      content: '\e800';
    }
    .ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
      opacity: 1;
      color: rgba(0,0,0,.95);
    }
    .ui.slider.checkbox .box:after, .ui.slider.checkbox label:after {
      top: .25rem !important;
    }
    .ui.slider.checkbox .box:before, .ui.slider.checkbox label:before {
      top: .9rem !important;
    }
  }



}
.view-order {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shipping-section {
  display: flex;
  flex-direction: row;
  min-height: 20rem;
  align-items: center;
  justify-content: center;

  .delivery-section {
    display: flex;
    width: 100%;
  }

}
.addresses {
  flex-direction: row;
  flex-wrap: wrap;

}
.divider {
  border: 1px solid rgba(var(--color-border-200),var(--tw-border-opacity));
  margin: 2rem 0;
}