

.remove-btn{
    width: 14rem;
    padding: .2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fe7c96 !important;
    color: var(--color-white);
    border-radius: 3px;
    cursor: pointer;

    font-weight: 500;


}

.ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child {
    text-align: center;
}

.p-details {
    display: flex;

    .color-cart {
        height: 3.5rem;

    }
}