

.remove-btn{
    width: 90px;
    padding: .1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 3px;
    cursor: pointer;

    & span{
        font-size: 1.4rem;
        font-weight: 500;

        &:nth-child(odd){
            margin: 0 4px 0 0;
        }

        &:nth-child(even){
            margin: 0 0 0 4px;
        }
    }
}