

.qty-btn{
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    width: 100%;
    padding: 0 2rem;

    & div {
        width: 1rem;
    }
    & div i {
        color: black;
        cursor: pointer;
        &:hover {
            color: var(--color-primary);
            font-size: 2rem;
        }
    }
    //& span{
    //    display: inline-block;
    //    font-size: 2rem;
    //    flex: 2;
    //    color: var(--title-text-color-dark);
    //
    //    &:nth-child(odd){
    //        flex: 1;
    //        font-size: 1.6rem;
    //        cursor: pointer;
    //    }
    //}
}