@import "src/components/Shops-collection/Shops-collection.styles";

.shop-page {
  width: 100%;
  overflow-x: hidden;
  background: white;

  .spinner-ct {
    width: 100%;
    height: calc(100vh - 87px);
    position: relative;

    & .lds-grid {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
    }
  }
}